/*
Theme Name: BlankSlate
Theme URI: https://github.com/tidythemes/blankslate
Author: TidyThemes
Author URI: http://tidythemes.com/
Description: Please read: tidythemes.com/concept. BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme possible for designers and developers to use as a base to build websites for clients or to build completely custom themes from scratch. Clean, simple, unstyled, semi-minified, unformatted, and valid code, SEO-friendly, jQuery-enabled, no programmer comments, standardized and as white label as possible, and most importantly, the CSS is reset for cross-browser-compatability and no intrusive visual CSS styles have been added whatsoever. A perfect skeleton theme. For support and suggestions, go to: https://github.com/tidythemes/blankslate/issues. Thank you.
Version: 1.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2019 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/

@import './sass/variables/fonts';
@import './sass/variables/colors';
@import './sass/normalize';
@import './sass/variables/mixins';
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);
// $mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);
@import './sass/variables/mq';
@import './sass/variables/typography';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans;
  color: $text;
}


#wrapper {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

@import './sass/partials/accessibility';




.wrapper {
	position: relative;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

@import './sass/partials/header';
@import './sass/partials/footer';

@import './sass/pages';

@import './sass/partials/wordpress';
@import './sass/partials/print';