.site-header {
  @include padding-top(2em);
  @include padding-bottom(2em);

  .content-container {
      display: flex;
      justify-content: space-between;
  }

  #branding {
    max-width: 200px;

    @include mq(500px){
      max-width: 320px;
    }
  }
}

#site-title h1 {
  margin: 0;
}

#site-description {
  display: none;
}